{
    "root": true,
    "extends": [
        "eslint:recommended",
        "plugin:@typescript-eslint/recommended",
        "plugin:prettier/recommended",
        "plugin:react/recommended",
        "plugin:react-hooks/recommended"
    ],
    "parser": "@typescript-eslint/parser",
    "plugins": [
        "relative-files",
        "@typescript-eslint",
        "prettier",
        "react",
        "react-hooks"
    ],
    "settings": {
        "react": {
            "version": "detect"
        }
    },
    "rules": {
        "@typescript-eslint/ban-ts-comment": "off",
        "@typescript-eslint/no-explicit-any": "off",
        "@typescript-eslint/no-unused-vars": "off",
        "@typescript-eslint/no-empty-interface": "off",
        "@typescript-eslint/consistent-type-imports": "error",
        "react/no-unescaped-entities": ["error", { "forbid": [">"] }]
    },
    "overrides": [
        {
            "files": [
                "packages/core/**/*.ts*",
                "packages/ui/**/*.ts*",
                "packages/wallets/**/*.ts*"
            ],
            "rules": {
                "relative-files/must-end-with-js": "error"
            }
        }
    ]
}
