@import './reset.css';

html, body {
    padding: 0;
    margin: 0;
    background-color: #303030;
    color: #FFFFFF;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
      Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

#app {
    min-height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 64px;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
