@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap');

.wallet-adapter-modal * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.wallet-adapter-modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    transition: opacity linear 150ms;
    background: rgba(0, 0, 0, 0);
    z-index: 1040;
    overflow-y: auto;
}

.wallet-adapter-modal.wallet-adapter-modal-fade-in {
    opacity: 1;
}

.wallet-adapter-modal-container {
    display: flex;
    margin: 3rem;
    min-height: calc(100vh - 6rem); /* 100vh - 2 * margin */
    align-items: center;
    justify-content: center;
}

@media (max-width: 30em) {
    .wallet-adapter-modal-container {
        margin: 1rem;
        min-height: calc(100vh - 2rem); /* 100vh - 2 * margin */
    }
}

.wallet-modal-h-52 {
    height: 52rem !important;
}
.wallet-modal-pb-2 {
    padding-bottom: 2rem !important;
}

.wallet-adapter-modal-wrapper {
    height: 45rem;
    box-sizing: border-box;
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
    z-index: 1050;
    max-width: 24rem;
    width: 100%;
    border-radius: 0.5rem;
    background: #10141f;
    font-family: 'DM Sans', 'Roboto', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: 500;
    flex: 1;
    padding: 0;
    transition: height .5s ease;
}

.wallet-adapter-modal-button-close {
    position: absolute;
    right: 1rem;
    top: 1rem;
    display: flex;
    height: 2rem;
    width: 2rem;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.05);
    border: none;
    font-family: 'DM Sans', 'Roboto', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.wallet-adapter-modal-button-close svg {
    fill: rgba(255, 255, 255, 0.7);
}

.wallet-adapter-modal-button-close:focus-visible {
    outline-color: white;
}

.wallet-adapter-modal-button-close:hover > svg {
    fill: rgba(255, 255, 255, 1);
    transition: fill 0.1s ease;
}

.wallet-adapter-modal-title {
    font-size: 1.75rem;
    line-height: 2.1rem;
    color: #fff;
    margin: 3.5rem 0 0 0;
    font-weight: 700;
    text-align: center;
    padding: 0 2rem;
}

@media (max-width: 26.875em) {
    .wallet-adapter-modal-title {
        padding: 0 1rem;
    }
}

.wallet-adapter-modal-list-header {
    margin: 5rem 0rem 0rem 1.6875rem;
    font-size: 1rem;
    line-height: 1.5rem;
    font-weight: 500;
    align-self: flex-start;
}

.wallet-modal-mt-24 {
    margin-top: 1.5rem !important;
}

.wallet-adapter-modal-list {
    margin: 3rem 0 0 0;
    padding: 0.125rem;
    list-style: none;
    width: 100%;
    max-height: 17.5rem;
    overflow-y: auto;
}

.wallet-adapter-modal-list::-webkit-scrollbar-track {
    border-radius: 0.375rem;
    background-color: #343947;
}
.wallet-adapter-modal-list::-webkit-scrollbar {
    width: 0.625rem;
    border-radius: 0.375rem;
    background-color: #343947;
}
.wallet-adapter-modal-list::-webkit-scrollbar-thumb {
    border-radius: 0.375rem;
    background-color: #111520;
}

.wallet-adapter-button {
    width: 100%;
    display: flex;
    align-items: center;
    height: 3.5rem;
    padding: 0 2.625rem 0 1rem;
    background-color: transparent;
    font-size: 1.25rem;
    line-height: 1.5rem;
    border: none;
    color: rgba(255, 255, 255, 0.9);
    cursor: pointer;
    text-align: left;
    justify-content: flex-start !important;
}

.wallet-adapter-button:hover,
.wallet-adapter-button:focus {
    background-color: #1a1f2e;
}

.wallet-adapter-button-start-icon {
    height: 2rem;
    width: 2rem;
    border-radius: 50%;
    margin-right: 0.75rem;
}

.wallet-adapter-button-start-icon img {
    height: 2rem;
    width: 2rem;
    object-fit: contain;
}

.wallet-adapter-button-end-text {
    margin-left: auto;
    font-size: 1rem;
    line-height: 1.5rem;
    color: #5c6c7f;
    font-family: 'DM Sans', 'Roboto', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.wallet-adapter-modal-list-more {
    align-self: flex-start;
    display: flex;
    align-items: center;
    padding: 0.75rem 1rem;
    background-color: transparent;
    font-size: 1.125rem;
    line-height: 1.5rem;
    color: rgba(214, 164, 255, 1);
    cursor: pointer;
    border: none;
}

.wallet-adapter-modal-list-more:hover * {
    color: rgba(214, 164, 255, 0.6);
    fill: rgba(214, 164, 255, 0.6);
    transition: all 0.1s ease;
}

.wallet-adapter-modal-list-more svg {
    fill: rgba(214, 164, 255, 1);
    margin-left: 0.5rem;
    transform: rotate(0deg);
}

.wallet-adapter-modal-list-more-icon-rotate {
    transform: rotate(180deg) !important;
}

.wallet-adapter-modal-bottom {
    margin-top: auto;
    border-radius: 1.5rem 1.5rem 0.5rem 0.5rem;
    box-sizing: border-box;
    border: none;
    background-image: url('https://images.toruswallet.io/solana_glass.png');
    background-size: cover;
    padding: 2rem;
}

.wallet-adapter-modal-bottom-title {
    margin: 0;
    color: #fff;
    font-size: 1.25rem;
    line-height: 1.625rem;
    font-weight: 700;
}

.wallet-adapter-modal-bottom-info {
    font-size: 1rem;
    line-height: 1.375rem;
    color: rgba(255, 255, 255, 0.9);
    font-weight: 400;
    margin-top: 0.5rem;
}

.wallet-adapter-modal-bottom-button {
    border: none;
    width: 100%;
    font-size: 1.125rem;
    font-weight: 700;
    padding: 0.625rem 1.25rem;
    border-radius: 0.5rem;
    color: rgba(16, 20, 31, 0.9);
    text-align: center;
    background-color: rgba(255, 255, 255, 1);
    box-shadow: 0 0 1.5rem rgba(26, 26, 26, 0.12);
    margin-top: 1.25rem;
    font-family: 'DM Sans', 'Roboto', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    cursor: pointer;
}

.wallet-adapter-modal-bottom-button:hover {
    background-color: rgba(255, 255, 255, 0.8);
}

.wallet-adapter-modal-middle {
    margin-top: 3.375rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.wallet-adapter-modal-middle-button {
    border: none;
    width: 90%;
    font-size: 1rem;
    line-height: 1.2rem;
    font-weight: 500;
    padding: 0.75rem 1.25rem;
    border-radius: 0.375rem;
    color: rgba(255, 255, 255, 1);
    text-align: center;
    background-color: rgba(103, 65, 255, 1);
    box-shadow: 0 0 1.5rem rgba(26, 26, 26, 0.12);
    margin-top: 2.025rem;
    font-family: 'DM Sans', 'Roboto', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    cursor: pointer;
}

.wallet-adapter-modal-middle-button:hover {
    background-color: rgba(103,65,255,0.8);
}

.wallet-adapter-modal-overlay {
    background: rgba(0, 0, 0, 0);
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}


.wallet-adapter-button-trigger {
    background-color: #4e44ce;
}

.wallet-adapter-button:not([disabled]):focus-visible {
    outline-color: white;
}

.wallet-adapter-button[disabled] {
    background: #404144;
    color: #999;
    cursor: not-allowed;
}

.wallet-adapter-collapse {
    width: 100%;
}

.wallet-adapter-dropdown {
    position: relative;
    display: inline-block;
}

.wallet-adapter-dropdown-list {
    position: absolute;
    z-index: 99;
    display: grid;
    grid-template-rows: 1fr;
    grid-row-gap: 0.625rem;
    padding: 0.625rem;
    top: 100%;
    right: 0;
    margin: 0;
    list-style: none;
    background: #2c2d30;
    border-radius: 0.625rem;
    box-shadow: 0 0.5rem 1.25rem rgba(0, 0, 0, 0.6);
    opacity: 0;
    visibility: hidden;
    transition: opacity 200ms ease, transform 200ms ease, visibility 200ms;
}

.wallet-adapter-dropdown-list-active {
    opacity: 1;
    visibility: visible;
    transform: translateY(0.625rem);
}

.wallet-adapter-dropdown-list-item {
    background: #404144;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border: none;
    outline: none;
    cursor: pointer;
    white-space: nowrap;
    box-sizing: border-box;
    padding: 0 1.25rem;
    width: 100%;
    border-radius: 0.375rem;
    font-size: 0.875rem;
    font-weight: 600;
    height: 2.3125rem;
    color: white;
}

.wallet-adapter-dropdown-list-item:not([disabled]):hover {
    background-image: linear-gradient(rgba(0, 0, 0, 0.15) 0 0);
}

.wallet-adapter-modal-collapse-button svg {
    align-self: center;
    fill: #999;
}

.wallet-adapter-modal-collapse-button.wallet-adapter-modal-collapse-button-active svg {
    transform: rotate(180deg);
    transition: transform ease-in 150ms;
}