@import './reset.css';

html, body {
    background: #333333;
    color: #FFFFFF;
}

#app {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
